{% extends  'base.html' %}

{% block title %} USUARIOS {% endblock %}

{% block content %}
<style>
    body {
            background-image: url("/static/img_login.jpg");
    background-size: cover; /* Hace que la imagen cubra todo el fondo sin repetir */
    background-position: center center; /* Centra la imagen en la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column; 
        }
        footer{
            margin-top: auto;
        }

</style>
<h1>Lista de Usuarios para la Joyeria Verónica</h1>
<a href="{{url_for('usuario.create')}}" class="btn btn-success mb-3">Nuevo</a>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Username</th>
        <th>Rol</th>
        <th></th>
        <th></th>
    </tr>

    {% for item in usuarios %}
    
    <tr>
        <td>{{item.id}}</td>
        <td>{{item.nombre}}</td>
        <td>{{item.username}}</td>
        <td>{{item.rol}}</td>
        <td>
            <a href="{{url_for('usuario.edit', id=item.id)}}" class="btn btn-warning">Editar</a>
        </td>
        <td>
            <a href="{{url_for('usuario.delete', id=item.id)}}" class="btn btn-danger">Eliminar</a>
        </td>
    </tr>
    {% endfor %}

</table>
{% endblock %}