{% extends  'base.html' %}

{% block title %} VENTAS {% endblock %}

{% block content %}
<style>
    body {
            background-image: url("/static/img_login.jpg");
    background-size: cover; /* Hace que la imagen cubra todo el fondo sin repetir */
    background-position: center center; /* Centra la imagen en la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

</style>
<h1>Reporte de las ventas Joyas Verónica</h1>
<a href="{{url_for('venta.create')}}" class="btn btn-success mb-3">Nuevo</a>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Cliente</th>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Fecha</th>
        <th></th>
        <th></th>
    </tr>

    {% for item in ventas %}
    
    <tr>
        <td>{{item.id}}</td>
        <td>{{item.cliente.nombre}}</td>
        <td>{{item.producto.descripcion}}</td>
        <td>{{item.cantidad}}</td>
        <td>{{item.fecha.strftime('%d/%m/%Y')}}</td>
        
        <td>
            <a href="{{url_for('venta.edit', id=item.id)}}" class="btn btn-warning">Editar</a>
        </td>
        <td>
            <a href="{{url_for('venta.delete', id=item.id)}}" class="btn btn-danger">Eliminar</a>
        </td>
    </tr>
    {% endfor %}

</table>
{% endblock %}